<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Driver={Firebird/InterBase(r) driver};dbname=temporeale:c:\\database\\tr.ib;charset=NONE;uid=SYSDBA;password=rootXXXXX"
        providerName="System.Data.Odbc"/>
  </connectionStrings>
  <appSettings>
    <add key="Port" value="COM3"/>
  </appSettings>
</configuration>